<div data-ng-show="!holder">
    <h3>Requested holder not found</h3>
</div>

<div data-ng-show="holder">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveHolder()"
    >
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="holder.name"
                        data-e-name="holder.name"
                        data-e-required
                    >
                        {{holder.name}}
                    </span>



                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Toggle edit mode"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>
                <dl>
                    <dt>Email</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="holder.email"
                            data-e-name="holder.email"
                            data-e-required
                        >
                            {{holder.email}}
                        </span>
                    </dd>
                    <dt>Email in use</dt>
                    <dd>
                        <span data-editable-checkbox="holder.emailValid"
                            data-e-title="Email address is in use">
                            {{holder.emailValid ? 'Yes' : 'No'}}
                        </span>
                    </dd>
                    <dt>Telephone</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="holder.telephone"
                            data-e-name="holder.telephone"
                        >
                            {{holder.telephone}}
                        </span>
                    <dd>
                    <dt>Description</dt>
                    <dd>
                        <p data-editable-textarea="holder.description"
                           data-e-name="holder.description"
                        >
                            {{holder.description}}
                        </p>
                    </dd>
                    <dt>Is archived</dt>
                    <dd>
                        <span data-editable-checkbox="holder.isArchived"
                            data-e-title="Holder is not in use">
                            {{holder.isArchived ? 'Yes' : 'No'}}
                        </span>
                    </dd>
                <dl>
                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Cancel
                        </button>
                        <button type="button" class="btn btn-danger pull-right"
                            data-ng-bootbox-title="Danger - Danger - Danger"
                            data-ng-bootbox-custom-dialog="Are you sure about the <strong>{{holder.name}}</strong> holder delete?"
                            data-ng-bootbox-buttons="confirmButtonsDelete"
                        >
                            Delete
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <h4 class="text-muted">{{holder.territories.length ? 'Territories' : 'The holder does not have any territories'}}</h4>
                <table data-ng-if="holder.territories.length" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="col-xs-2">
                                Territory
                            </th>
                            <th class="col-xs-2 text-nowrap">
                                Covered
                            </th>
                            <th class="col-xs-2 text-nowrap">
                                Taken
                            </th>
                            <th class="col-xs-6 text-nowrap">
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="t in holder.territories">
                        <tr>
                            <td>
                                <a data-ui-sref="examples.territory({id: t.id})">
                                    {{t.territoryCode}}
                                </a>
                            </td>                    
                            <td data-ng-class="isNotCoveredLimitExeeded(t, app) ? 'bg-danger' : ''">
                                <a
                                    data-tooltip="{{t.covered | amTimeAgo}}">
                                    {{t.covered | date : 'dd.MM.yyyy'}}
                                </a>
                            </td>
                            <td data-ng-class="isHolderNotChangedLimitExeeded(t, app) ? 'bg-danger': ''">
                                <a
                                    data-tooltip="{{t.taken | amTimeAgo}}">
                                    {{t.taken | date : 'dd.MM.yyyy'}}
                                </a>
                            </td>
                            <td>
                                {{t.description | limitTo: 40}}
                                {{t.description.length > 40 ? '...' : ''}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>