
<div class="modal-header">
    <button type="button" class="close"
        data-dismiss="modal"
        data-ng-click="dismiss()"
    >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Sulje</span>
    </button>

    <h3 class="modal-title">Uuden alueen lisääminen</h3>
</div>
<div class="modal-body modal-help">
    

    <form class="form-vertical" role="form" name="territoryForm"
        data-ng-submit="addTerritory()"
    >
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin-top: 10px;">
                    {{'TERRITORY_CODE' | translate}}:
                    <input type="text" class="form-control" name="territory.territoryCode" required="required" placeholder="Kirjoita alueen koodi tai tunnus"
                        data-ng-model="territory.territoryCode"
                    />
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    {{'TYPE' | translate}}:
                    <input type="text" class="form-control" name="territory.type" required="required" placeholder="Kirjoita aluetyyppi"
                        data-ng-model="territory.type"
                    />
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    {{'NUMBER_OF_APARTMENTS' | translate}}:
                    <input type="number" min="0" class="form-control" name="territory.apartmentCount" required="required" placeholder="Kirjoita alueen asuntojen lukumäärä kokonaislukuna"
                        data-ng-model="territory.apartmentCount"
                    />
                </div>

                <div class="form-group">
                    {{'DESCRIPTION' | translate}}:
                    <textarea name="territory.description" class="form-control" required="required" placeholder="Kirjoita alueen kuvaus"
                        data-ng-model="territory.description"
                    >{territory.description}</textarea>
                </div>

                <div class="form-group">
                    {{'COVERED' | translate}}:
                    <p class="input-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            data-datepicker-popup="dd.MM.yyyy" 
                            data-is-open="coveredDatePickerIsOpen" 
                            data-ng-click="datePickerOpened($event); coveredDatePickerIsOpen = true;" 
                            data-ng-model="territory.covered"
                        >
                        </input>
                        <span class="input-group-btn">
                            <button 
                                type="button" 
                                class="btn btn-default" 
                                data-ng-click="datePickerOpened($event); coveredDatePickerIsOpen = true;">
                            <span class="fa fa-calendar"></span>
                          </button>
                        </span>
                    </p>
                </div>

                <div class="form-group">
                    {{'TAKEN' | translate}}:
                    <p class="input-group">
                        <input 
                            type="text" 
                            class="form-control" 
                            data-datepicker-popup="dd.MM.yyyy" 
                            data-is-open="takenDatePickerIsOpen" 
                            data-ng-click="datePickerOpened($event); takenDatePickerIsOpen = true;" 
                            data-ng-model="territory.taken"
                        >
                        </input>
                        <span class="input-group-btn">
                            <button 
                                type="button" 
                                class="btn btn-default" 
                                data-ng-click="datePickerOpened($event); coveredDatePickerIsOpen = true;">
                            <span class="fa fa-calendar"></span>
                          </button>
                        </span>
                    </p>
                </div>

                <div class="form-group">
                    {{'INITIAL_HOLDER' | translate}}:
                    <select 
                        class="form-control"
                        data-ng-model="selectedHolder"
                        data-ng-options="holder.id as holder.name for holder in holders"
                    >
                    </select>
                </div>

                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!territoryForm.$valid"
                >
                    {{'SAVE' | translate}}
                </button>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm"
        data-ng-click="dismiss()"
    >Sulje</button>
</div>