<div data-territory-sub-pages></div>

<div class="alert alert-info top-buffer email-warning" data-ng-show="mailsTotal > 0">
    <h4>
        <i class="fa fa-envelope"></i> Sähköpostimuistutukset
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </h4>
    <span data-ng-class="mailsTotal > 5 ? 'badge badge-important' : 'badge badge-info'">
        {{mailsTotal}}
    </span> 
    <span data-ng-if="mailsTotal == 1"> viesti odottaa lähettämistä.</span>
    <span data-ng-if="mailsTotal > 1"> viestiä odottaa lähettämistä.</span>
    <a class="btn btn-xs btn-primary" data-ng-click="sendNotificationEmails()">Lähetä</a>
</div>

<div class="alert alert-danger top-buffer backup-warning" data-ng-show="suggestBackup">
    <h4>
        <i class="fa fa-exclamation-circle"></i> Varmuuskopiointi
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </h4>
    Edellisen varmuuskopion ottamisesta on kulunut jo tovi
    <a class="btn btn-xs btn-danger" data-ng-click="runBackup()">Varmuuskopioi</a>
</div>

<h3>
    {{'TERRITORIES' | translate}} ({{itemCount}})

    <a
        class="pull-right"
        data-ng-if="user.admin"
        data-ui-sref="app.territory.add"
        data-tooltip="Lisää uusi alue"
    ><i class="fa fa-plus-circle"></i></a>
</h3>

<div class="row">
    <div class="col-sm-12">
        <list-search
            data-holders="holders"
            data-attributes="attributes"
            data-filters="filters"
            data-options="itemsPerPageOptions"
            data-items="itemsPerPage"
        ></list-search>
        <ul class="list-inline" data-ng-if="filters.searchWord.length">
            Hakutermit: 
            <li data-ng-repeat="w in filters.searchWord.split(' ') track by $index">
                <span 
                    class="label label-primary" 
                    data-ng-click="removeSearchWord(filters.searchWord, $index);"
                >
                    {{w}}
                    <span class="fa fa-times"></span>
                </span>
            </li>
        </ul>
        <span data-ng-if="filters.holderId">
            Ainoastaan omistaja:
            <span class="label label-primary" data-ng-click="filters.holderId = null;">
                {{getHolderNameWithId(holders, filters.holderId)}}
                <span class="fa fa-times"></span>
            </span>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <pagination class="pagination-sm pull-right mobile-hide"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="5"
            data-boundary-links="true"
            data-rotate="false"
            data-first-text="{{'FIRST' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
            data-next-text="{{'NEXT' | translate}}"
            data-last-text="{{'LAST' | translate}}"
        ></pagination>

        <pager class="desktop-hide" 
            total-items="itemCount" 
            data-ng-model="currentPage"
            data-rotate="false"
            data-items-per-page="itemsPerPage"
            data-next-text="{{'NEXT' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
        ></pager>

        <table class="table">
            <thead class="noSelect">
            <tr>
                <th class="text-nowrap {{item.class}}"
                    data-ng-repeat="item in titleItems | filter:titleFilter"
                >
                    <a
                        data-ng-show="item.column"
                        data-ng-click="changeSort(item)"
                        data-ng-bind-html="item.title"
                    ></a>
                    <span
                        data-ng-show="!item.column"
                        data-ng-bind-html="item.title"
                    >
                        {{item.title | translate}}
                    </span>
                    <i class="fa"
                        data-ng-show="sort.column == item.column"
                        data-ng-class="{'fa-angle-down': !sort.direction, 'fa-angle-up': sort.direction}"
                    ></i>
                </th>
            </tr>
            </thead>
            <tbody data-ng-repeat="territory in items">
                <tr data-ng-class="territory.checked ? 'bg-info' : (selectionDisabledFilter(territory) ? 'bg-tuned-down' : '')">
                    <td class="col-md-1 valign">
                        <h4><strong><a data-ui-sref="app.territory({id: territory.id})">
                            <span data-ng-if="!territory.archived">{{territory.territoryCode || territory.id}}</span>
                            <span data-ng-if="territory.archived"><s>{{territory.territoryCode || territory.id}}</s></span>
                        </a></strong></h4>
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        {{territory.type}}
                        <span data-ng-if="territory.archived">(arkistoitu)</span>
                    </td>
                    <td data-ng-class="isNotCoveredLimitExeeded(territory, app) ? 'bg-danger col-md-1 valign' : 'col-md-1 valign'">
                        <a
                            data-tooltip="{{territory.covered | amTimeAgo}}">
                            {{territory.covered | date : 'dd.MM.yyyy'}}
                        </a>
                    </td>
                    <td data-ng-class="isHolderNotChangedLimitExeeded(territory, app) ? 'bg-danger col-md-1 valign mobile-hide': 'col-md-1 valign mobile-hide'">
                        <a
                            data-tooltip="{{territory.taken | amTimeAgo}}">
                            {{territory.taken | date : 'dd.MM.yyyy'}}
                        </a>
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        <ul class="list-inline">
                            <li data-ng-repeat="tla in territory.territoryLinkAttribute">
                                <span 
                                    class="fa fa-{{getAttributeWithId(attributes, tla.attribute).icon}}"
                                    data-tooltip="{{getAttributeWithId(attributes, tla.attribute).description}}"
                                >
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td class="col-md-3 valign mobile-hide">
                        {{territory.description | limitTo : 40}}
                        {{territory.description.length > 40 ? '...' : ''}}
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        {{territory.territoryHolderHistory[territory.territoryHolderHistory.length - 1].description | limitTo : 20}}
                        {{territory.territoryHolderHistory[territory.territoryHolderHistory.length - 1].description.length > 20 ? '...' : ''}}
                    </td>
                    <td data-ng-class="!isDefaultHolder(territory.holder.id) ? 'bg-tuned-down col-md-2 valign' : 'col-md-2 valign'">
                        <a data-ui-sref="app.holder({id: territory.holder.id})">
                            {{territory.holder.name}}
                        </a>
                    </td>
                    <td class="col-md-1 valign text-center">
                        <label class="whitespace-label">
                            <input type="checkbox" 
                                class="big-checkbox"
                                id="checkbox_{{territory.id}}"
                                data-ng-model="territory.checked" 
                                data-ng-change="territoryChecked(territory, items)"
                                data-ng-disabled="selectionDisabledFilter(territory)"
                            >
                            </input>
                        </label>
                    </td>
                </tr>

                <tr data-ng-if="items.length === 0">
                    <td colspan="100%" class="text-center text-muted">
                        <em>no data found...</em>
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <pagination class="pagination-sm pull-right mobile-hide"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="5"
            data-boundary-links="true"
            data-rotate="false"
            data-first-text="{{'FIRST' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
            data-next-text="{{'NEXT' | translate}}"
            data-last-text="{{'LAST' | translate}}"
        ></pagination>
        <pager class="desktop-hide" 
            total-items="itemCount" 
            data-ng-model="currentPage"
            data-rotate="false"
            data-items-per-page="itemsPerPage"
            data-next-text="{{'NEXT' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
        ></pager>
  </div>
</div>


<div class="row top-buffer" data-ng-show="filteredItems.length > 0">
    <div class="col-sm-12">
        <div class="panel panel-primary" id="territoryOperationsWrapper">
            <div class="panel-heading">
                <button 
                    class="btn btn-xs btn-primary pull-right" 
                    data-ng-click="clearSelected(items)"
                >
                    <i style="color: white;" class="fa fa-times text-info"></i>
                </button>
                <button 
                    style="margin-right: 2px;"
                    class="btn btn-xs btn-primary pull-right" 
                    class="btn btn-primary btn-sm" 
                    data-ng-init="isAllCollapsed = false" 
                    data-ng-click="isAllCollapsed = !isAllCollapsed"
                >
                    <i  data-ng-if="!isAllCollapsed"
                        style="color: white;" 
                        class="fa fa-minus text-info"
                    ></i>
                    <i  data-ng-if="isAllCollapsed"
                        style="color: white;" 
                        class="fa fa-square-o text-info"
                    ></i>
                </button>
                {{'OPERATIONS_FOR_SELECTED_TERRITORIES' | translate}} ({{filteredItems.length}})
                <div class="clearfix"></div>
            </div>

            <div class="panel-body" id="territoryOperations" data-collapse="isAllCollapsed">    
                <ul class="list-inline">
                    <li class="vertical-list" data-ng-repeat="t in filteredItems = (items | filter : onlyCheckedTerritories)">
                        
                        <a data-ui-sref="app.territory({id: t.id})">
                            <h3>{{t.territoryCode || t.id}}</h3>
                        </a>
                        
                    </li>
                </ul>

                <span class="text-muted">Nykyinen omistaja {{getHolderNameWithId(holders, selectedTerritoryHolderId)}}</span>

                <div data-collapse="isCollapsed">

                    <form class="form-horizontal">
                        <fieldset class="fieldset-nomargins">

                            <!-- Form Name -->
                            <legend>Alueiden merkitseminen ja omistajan vaihtaminen</legend>

                            <!-- Multiple Radios -->
                            <div class="form-group row">
                                <label class="col-lg-12 control-label text-left" for="operation">Valitse toiminto</label>
                                <div class="col-lg-12">
                                    <div class="radio">
                                        <label for="operation-0">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-0" 
                                                value="1"
                                                checked="checked"
                                                data-ng-disabled="isDefaultHolder(selectedTerritoryHolderId)"
                                                data-ng-change="territoryOperationChange(operation)"
                                            >
                                            Merkitse käydyksi (alueomistaja ei vaihdu)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="operation-1">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-1" 
                                                data-ng-disabled="isDefaultHolder(selectedTerritoryHolderId)"
                                                data-ng-change="territoryOperationChange(operation)"
                                                value="2"
                                            >
                                            Merkitse käydyksi ja vaihda alueomistaja
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="operation-2">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-2" 
                                                data-ng-change="territoryOperationChange(operation)"
                                                value="3"
                                            >
                                            Vaihda alueomistaja (ei merkitä käydyksi)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group row" data-ng-show="operation == 2 || operation == 3">
                              <label class="col-lg-12 control-label text-left" for="selectbasic">Uusi alueomistaja</label>
                              <div class="col-lg-12">
                                    <select 
                                        id="selectbasic"
                                        class="form-control"
                                        data-ng-model="selectedHolder"
                                        data-ng-options="holder.id as ((holder.id == selectedTerritoryHolderId ? '* ':'') + holder.name) for holder in holders | filter : onlyAllowedHolders | filter : onlyActiveHolders"
                                    >
                                    </select>
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                              <label class="col-lg-12 control-label text-left" for="textinput">Kommentti</label>  
                              <div class="col-lg-12">
                              <input 
                                id="textinput" 
                                data-ng-model="territoryChangeComment"
                                name="textinput" 
                                type="text" 
                                maxlength="100"
                                placeholder="Muutokseen liittyvä kommentti" 
                                class="form-control input-md"
                              >
                              <span class="help-block">Voit kirjoittaa kommentin esim. jos alue on käyty kampanjan yhteydessä</span>  
                              </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group top-buffer">
                                <div class="col-lg-12">
                                    <button 
                                        data-ng-if="operation !== '1' && operation !== '2' && operation !== '3'"
                                        class="btn btn-success btn-md" 
                                        disabled
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        data-ng-if="operation === '1'"
                                        class="btn btn-success btn-md" 
                                        data-ng-click="markTerritoriesAsCovered(filteredItems, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        data-ng-if="operation === '2'"
                                        class="btn btn-success btn-md" 
                                        data-ng-disabled="!selectedHolder || selectedHolder === selectedTerritoryHolderId"
                                        data-ng-click="changeHolder(filteredItems, true, selectedHolder, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        data-ng-if="operation === '3'"
                                        class="btn btn-success btn-md" 
                                        data-ng-disabled="!selectedHolder || selectedHolder === selectedTerritoryHolderId"
                                        data-ng-click="changeHolder(filteredItems, false, selectedHolder, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        class="btn btn-danger btn-md pull-right" 
                                        data-ng-click="clearSelected(items)"
                                    >
                                        Peruuta
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="panel-footer text-center" data-collapse="isAllCollapsed">                
                <button 
                    class="btn btn-primary btn-xs" 
                    data-ng-init="isCollapsed = true" 
                    data-ng-click="isCollapsed = !isCollapsed"
                >
                    {{isCollapsed ? 'Tee muutoksia alueisiin' : 'Pienennä'}}
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
