<div data-ng-if="user.admin" class="row">
    <div class="col-xs-12">
        <ul class="list-inline pull-right">
            <li>
                <a
                    data-ui-sref="app.territories.stats"
                    data-tooltip="Tilastot"
                >
                    Tilastot
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.s13"
                    data-tooltip="S-13"
                >
                    S-13
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.map"
                    data-tooltip="Map"
                >
                    {{'MAP' | translate}}
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.quickview"
                    data-tooltip="Quick view"
                >
                    {{'QUICK_VIEW' | translate}}
                </a>
            </li>
        </ul>

    </div>
</div>

<h3>
    {{'TERRITORIES' | translate}} ({{itemCount}})

    <a
        class="pull-right"
        data-ng-if="user.admin"
        data-ui-sref="app.territory.add"
        data-tooltip="Add new territory"
    ><i class="fa fa-plus-circle"></i></a>
</h3>

<div class="row">
    <div class="col-sm-12 list-search">
        <list-search
            data-filters="filters"
            data-options="itemsPerPageOptions"
            data-items="itemsPerPage"
        ></list-search>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <pagination class="pagination-sm pull-right mobile-hide"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="5"
            data-boundary-links="true"
            data-rotate="false"
            data-first-text="{{'FIRST' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
            data-next-text="{{'NEXT' | translate}}"
            data-last-text="{{'LAST' | translate}}"
        ></pagination>

        <pager class="desktop-hide" 
            total-items="itemCount" 
            data-ng-model="currentPage"
            data-rotate="false"
            data-items-per-page="itemsPerPage"
            data-next-text="{{'NEXT' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
        ></pager>

        <table class="table">
            <thead class="noSelect">
            <tr>
                <th class="text-nowrap {{item.class}}"
                    data-ng-repeat="item in titleItems | filter:titleFilter"
                >
                    <a
                        data-ng-show="item.column"
                        data-ng-click="changeSort(item)"
                        data-ng-bind-html="item.title"
                    ></a>
                    <span
                        data-ng-show="!item.column"
                        data-ng-bind-html="item.title"
                    >
                        {{item.title | translate}}
                    </span>
                    <i class="fa"
                        data-ng-show="sort.column == item.column"
                        data-ng-class="{'fa-angle-down': !sort.direction, 'fa-angle-up': sort.direction}"
                    ></i>
                </th>
            </tr>
            </thead>
            <tbody data-ng-repeat="territory in items">
                <tr data-ng-class="territory.checked ? 'bg-info' : ''">
                    <td class="col-md-1 valign">
                        <h4><strong><a data-ui-sref="app.territory({id: territory.id})">
                            {{territory.territoryCode || territory.id}}
                        </a></strong></h4>
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        {{territory.type}}
                    </td>
                    <td data-ng-class="isNotCoveredLimitExeeded(territory, app) ? 'bg-danger col-md-1 valign' : 'col-md-1 valign'">
                        <a
                            data-tooltip="{{territory.covered | amTimeAgo}}">
                            {{territory.covered | date : 'dd.MM.yyyy'}}
                        </a>
                    </td>
                    <td data-ng-class="isHolderNotChangedLimitExeeded(territory, app) ? 'bg-danger col-md-1 valign mobile-hide': 'col-md-1 valign mobile-hide'">
                        <a
                            data-tooltip="{{territory.taken | amTimeAgo}}">
                            {{territory.taken | date : 'dd.MM.yyyy'}}
                        </a>
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        <ul class="list-inline">
                            <li data-ng-repeat="tla in territory.territoryLinkAttribute">
                                <span 
                                    class="fa fa-{{getAttributeWithId(attributes, tla.attribute).icon}}"
                                    data-tooltip="{{getAttributeWithId(attributes, tla.attribute).description}}"
                                >
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td class="col-md-3 valign mobile-hide">
                        {{territory.description | limitTo : 40}}
                        {{territory.description.length > 40 ? '...' : ''}}
                    </td>
                    <td class="col-md-1 valign mobile-hide">
                        {{territory.territoryHolderHistory[territory.territoryHolderHistory.length - 1].description | limitTo : 20}}
                        {{territory.territoryHolderHistory[territory.territoryHolderHistory.length - 1].description.length > 20 ? '...' : ''}}
                    </td>
                    <td data-ng-class="!isDefaultHolder(territory.holder.id) ? 'bg-tuned-down col-md-2 valign' : 'col-md-2 valign'">
                        <a data-ui-sref="app.holder({id: territory.holder.id})">
                            {{territory.holder.name}}
                        </a>
                    </td>
                    <td data-ng-class="!isDefaultHolder(territory.holder.id) ? 'bg-tuned-down col-md-1 valign text-center' : 'col-md-1 valign text-center'">
                        <label class="whitespace-label">
                            <input type="checkbox" 
                                class="big-checkbox"
                                id="checkbox_{{territory.id}}"
                                data-ng-model="territory.checked" 
                                data-ng-change="territoryChecked(territory)">
                            </input>
                        </label>
                    </td>
                </tr>

                <tr data-ng-if="items.length === 0">
                    <td colspan="100%" class="text-center text-muted">
                        <em>no data found...</em>
                    </td>
                </tr>
            </tbody>
        </table>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <pagination class="pagination-sm pull-right mobile-hide"
            data-total-items="itemCount"
            data-ng-model="currentPage"
            data-items-per-page="itemsPerPage"
            data-max-size="5"
            data-boundary-links="true"
            data-rotate="false"
            data-first-text="{{'FIRST' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
            data-next-text="{{'NEXT' | translate}}"
            data-last-text="{{'LAST' | translate}}"
        ></pagination>
        <pager class="desktop-hide" 
            total-items="itemCount" 
            data-ng-model="currentPage"
            data-rotate="false"
            data-items-per-page="itemsPerPage"
            data-next-text="{{'NEXT' | translate}}"
            data-previous-text="{{'PREVIOUS' | translate}}"
        ></pager>
  </div>
</div>


<div class="row top-buffer" data-ng-show="filteredItems.length > 0">
    <div class="col-sm-12">
        <div class="panel panel-primary" id="territoryOperationsWrapper">
            <div class="panel-heading">
                <button 
                    class="btn btn-xs btn-primary pull-right" 
                    data-ng-click="clearSelected(items)"
                >
                    {{'CLEAR_SELECTION' | translate}}
                </button>
                {{'OPERATIONS_FOR_SELECTED_TERRITORIES' | translate}} ({{filteredItems.length}})
                <div class="clearfix"></div>
            </div>

            <div class="panel-body" id="territoryOperations">    
                <ul class="list-inline">
                    <li class="vertical-list" data-ng-repeat="t in filteredItems = (items | filter : onlyCheckedTerritories)">
                        
                        <a data-ui-sref="app.territory({id: t.id})">
                            <h3>{{t.territoryCode || t.id}}</h3>
                        </a>
                        
                    </li>
                </ul>

                <div data-collapse="isCollapsed">

                    <form class="form-horizontal">
                        <fieldset class="fieldset-nomargins">

                            <!-- Form Name -->
                            <legend>Alueiden merkitseminen ja omistajan vaihtaminen</legend>

                            <!-- Multiple Radios -->
                            <div class="form-group row">
                                <label class="col-lg-12 control-label text-left" for="operation">Valitse toiminto</label>
                                <div class="col-lg-12">
                                    <div class="radio">
                                        <label for="operation-0">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-0" 
                                                value="1"
                                                checked="checked"
                                                data-ng-change="territoryOperationChange(operation)"
                                            >
                                            Merkitse käydyksi (alueomistaja ei vaihdu)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="operation-1">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-1" 
                                                data-ng-change="territoryOperationChange(operation)"
                                                value="2"
                                            >
                                            Merkitse käydyksi ja vaihda alueomistaja
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="operation-2">
                                            <input 
                                                type="radio" 
                                                data-ng-model="operation" 
                                                name="operation" 
                                                id="operation-2" 
                                                data-ng-change="territoryOperationChange(operation)"
                                                value="3"
                                            >
                                            Vaihda alueomistaja (ei merkitä käydyksi)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group row" data-ng-show="operation == 2 || operation == 3">
                              <label class="col-lg-12 control-label text-left" for="selectbasic">Uusi alueomistaja</label>
                              <div class="col-lg-12">
                                    <select 
                                        id="selectbasic"
                                        class="form-control"
                                        data-ng-model="selectedHolder"
                                        data-ng-options="holder.id as holder.name for holder in holders | filter : onlyActiveHolders"
                                    >
                                    </select>
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row">
                              <label class="col-lg-12 control-label text-left" for="textinput">Kommentti</label>  
                              <div class="col-lg-12">
                              <input 
                                id="textinput" 
                                data-ng-model="territoryChangeComment"
                                name="textinput" 
                                type="text" 
                                maxlength="100"
                                placeholder="Muutokseen liittyvä kommentti" 
                                class="form-control input-md"
                              >
                              <span class="help-block">Voit kirjoittaa kommentin esim. jos alue on käyty kampanjan yhteydessä</span>  
                              </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group text-center">
                                <div class="col-lg-12 col-offset-">
                                    <button 
                                        data-ng-if="operation === '1'"
                                        class="btn btn-success btn-md" 
                                        data-ng-click="markTerritoriesAsCovered(filteredItems, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        data-ng-if="operation === '2'"
                                        class="btn btn-success btn-md top-buffer" 
                                        data-ng-disabled="!selectedHolder"
                                        data-ng-click="changeHolder(filteredItems, true, selectedHolder, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                    <button 
                                        data-ng-if="operation === '3'"
                                        class="btn btn-success btn-md top-buffer" 
                                        data-ng-disabled="!selectedHolder"
                                        data-ng-click="changeHolder(filteredItems, false, selectedHolder, territoryChangeComment)"
                                    >
                                        Tallenna
                                    </button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="panel-footer text-center">                
                <button 
                    class="btn btn-primary btn-sm" 
                    data-ng-init="isCollapsed = true" 
                    data-ng-click="isCollapsed = !isCollapsed"
                >
                    {{isCollapsed ? 'Tee muutoksia alueisiin' : 'Pienennä'}}
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
