<div class="list-search-filters">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group" dropdown>
                <input class="form-control input-sm col-sm-10" type="text" placeholder="Hakutermit"
                    data-ng-model="filters.searchWord"
                />

                <span 
                    data-ng-click="filters.searchWord = ''"
                    class="input-group-addon search dropdown-toggle"
                    data-tooltip="Click to select columns where search filter affects."
                >
                    <i class="fa fa-times text-info"></i>
                </span>
            </div>

            <select class="form-control input-sm"
                data-ng-model="items"
                data-ng-options="page for page in options"
            >
            </select>
        </div>
    </form>
</div>

