<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline pull-right">
            <li>
                <a
                    data-ui-sref="app.territories.stats"
                    data-tooltip="Tilastot"
                >
                    Tilastot
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.s13"
                    data-tooltip="S-13"
                >
                    S-13
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.map"
                    data-tooltip="Map"
                >
                    {{'MAP' | translate}}
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territories.quickview"
                    data-tooltip="Quick view"
                >
                    {{'QUICK_VIEW' | translate}}
                </a>
            </li>
        </ul>

    </div>
</div>