<div class="row">
    <div class="col-xs-12">
        <ul class="list-inline pull-right">
            <li>
                <a
                    data-ui-sref="app.territory.stats"
                    data-tooltip="Tilastot"
                >
                    <span class="fa fa-line-chart"></span> 
                    Tilastot
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territory.s13"
                    data-tooltip="S-13"
                >
                    <span class="fa fa-history"></span> 
                    S-13
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territory.map"
                    data-tooltip="Kartta"
                >
                    <span class="fa fa-map-marker"></span> 
                    {{'MAP' | translate}}
                </a>
            </li>
            <li>
                <a
                    data-ui-sref="app.territory.quickview"
                    data-tooltip="Alueiden pikatarkastelu"
                >
                    <span class="fa fa-eye"></span> 
                    {{'QUICK_VIEW' | translate}}
                </a>
            </li>
        </ul>

    </div>
</div>