<div data-ng-show="!app">
    <h3>App not found</h3>
</div>

<!-- 
              lastBackup : new Date(),
              backupInterval : 7,
              backupEmail : 'example.email.address@example.com',
              lastStats : new Date(),
              notCoveredLimit : 365,
              notCoveredWarningEmailLimit : 100,  
              holderNotChangedWarningLimit : 200,
              holderChangePreventedIfLimitExeeded : false,
              holderChangeToDefaultIfLimitExeeded : false,
-->

<!--
  var subjectTxt = in_template.title.replace("_holderName", in_holder.name);
  subjectTxt = subjectTxt.replace("_territoryCode", in_territory.territoryCode);
  var bodyHTML = in_template.body.replace("_territoryCode", in_territory.territoryCode);
  bodyHTML = bodyHTML.replace("_territoryLat", in_territory.lat);
  bodyHTML = bodyHTML.replace("_territoryLng", in_territory.lng);
  var taken = new Date(in_territory.taken);
  bodyHTML = bodyHTML.replace("_taken", taken.getFullYear() + "-" + (taken.getMonth()+1) + "-" + taken.getDate());
  bodyHTML = bodyHTML.replace("_holderName", in_holder.name);
  bodyHTML = bodyHTML.replace("_territoryDetails", in_territory.description);
  bodyHTML = bodyHTML.replace("_listAllTerritoryCodes", in_listOfTerritories);
-->

<div data-ng-show="app">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveApp()"
    >
        <div class="row">
            <div class="col-sm-8">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="app.name"
                        data-e-name="app.name"
                        data-e-required
                    >
                        {{app.name}}
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Toggle edit mode"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>
                <dl>
                    <dt>Default holder</dt>
                    <dd>
                        <span data-editable-select="app.defaultHolder.id"
                            data-e-name="defaultHolder.id"
                            data-e-ng-options="holder.id as holder.name for holder in holders"
                            data-e-required>
                            {{app.defaultHolder.name}}
                        </span>
                    </dd>
                    <dt>Backup email</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.backupEmail"
                            data-e-name="app.backupEmail"
                            data-e-required
                        >
                            {{app.backupEmail}}
                        </span>
                    </dd>
                    <dt>Backup interval (days)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.backupInterval"
                            data-e-min="1"
                            data-e-name="app.backupInterval"
                            data-e-required
                        >
                            {{app.backupInterval}}
                        </span>
                    </dd>
                    <dt>Limit for not covered territories (days)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.notCoveredLimit"
                            data-e-min="1"
                            data-e-name="app.notCoveredLimit"
                            data-e-required
                        >
                            {{app.notCoveredLimit}}
                        </span>
                    </dd>
                    <dt>Limit for warning email about not covered territories (days)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.notCoveredWarningEmailLimit"
                            data-e-min="1"
                            data-e-name="app.notCoveredWarningEmailLimit"
                            data-e-required
                        >
                            {{app.notCoveredWarningEmailLimit}}
                        </span>
                    </dd>
                    <dt>Limit for warning about not changed holder (days)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.holderNotChangedWarningLimit"
                            data-e-min="1"
                            data-e-name="app.holderNotChangedWarningLimit"
                            data-e-required
                        >
                            {{app.holderNotChangedWarningLimit}}
                        </span>
                    </dd>
                    <dt>Default latitude</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.defaultLatitude"
                            data-e-min="-90"
                            data-e-max="90"
                            data-e-step="any"
                            data-e-name="app.defaultLatitude"
                            data-e-required
                        >
                            {{app.defaultLatitude}}
                        </span>
                    </dd>
                    <dt>Default longitude</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.defaultLongitude"
                            data-e-min="-180"
                            data-e-max="180"
                            data-e-step="any"
                            data-e-name="app.defaultLongitude"
                            data-e-required
                        >
                            {{app.defaultLongitude}}
                        </span>
                    </dd>
                    <dt>Sähköposteissa toimivat avainkentät</dt>
                    <dd>
<pre>
"_holderName" = alueomistajan nimi
"_territoryCode" = alueen koodi
"_territoryLat", = alueen koordinaatti
"_territoryLng", = alueen koordinaatti
"_taken", = aika jolloin alue on otettu
"_covered" = aika jolloin alue on merkitty käydyksi
"_territoryDetails", = alueen tarkempi kuvaus
"_listAllTerritoryCodes" = kaikki alueomistajan alueiden koodit
</pre>
                    </dd>
                    <dt>Sähköpostipohja: muistutus alueen käymisestä, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailNotCoveredTerritoryTitle"
                            data-e-name="app.notificationEmailNotCoveredTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailNotCoveredTerritoryTitle}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: muistutus alueen käymisestä</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailNotCoveredTerritory"
                            data-e-name="app.notificationEmailNotCoveredTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailNotCoveredTerritory}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: uuden alueen ottaminen, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailNewTerritoryTitle"
                            data-e-name="app.notificationEmailNewTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailNewTerritoryTitle}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: uuden alueen ottaminen</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailNewTerritory"
                            data-e-name="app.notificationEmailNewTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailNewTerritory}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: alueen palautus aluepöytään, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailRemovedTerritoryTitle"
                            data-e-name="app.notificationEmailRemovedTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailRemovedTerritoryTitle}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: alueen palautus aluepöytään</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailRemovedTerritory"
                            data-e-name="app.notificationEmailRemovedTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailRemovedTerritory}}
                        </span>
                    </dd>
                    <dt>Lähtevän sähköpostin osoite</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-email="app.notificationEmailSenderAddress"
                            data-e-name="app.notificationEmailSenderAddress"
                            data-e-required
                        >
                            {{app.notificationEmailSenderAddress}}
                        </span>
                    </dd>
                    <dt>SMTP käyttäjänimi</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.smtpUsername"
                            data-e-name="app.smtpUsername"
                            data-e-required
                        >
                            {{app.smtpUsername}}
                        </span>
                    </dd>
                    <dt>SMTP salasana</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.smtpPassword"
                            data-e-name="app.smtpPassword"
                            data-e-required
                        >
                            {{app.smtpPassword}}
                        </span>
                    </dd>
                <dl>
                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>