<div data-ng-show="!app">
    <h3>Sovellusasetuksia ei löytynyt! Ota yhteyttä ylläpitäjään.</h3>
</div>

<div data-ng-show="app">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveApp()"
    >
        <div class="row">
            <div class="col-sm-8">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="app.name"
                        data-e-name="app.name"
                        data-e-required
                    >
                        {{app.name || 'Sovellukselle ei ole annettu nimeä'}}
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Muuta asetuksia"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>
                <dl>
                    <dt>Alueiden oletusomistaja (yleensä aluepöytä tms.)</dt>
                    <dd>
                        <span data-editable-select="app.defaultHolder.id"
                            data-e-name="defaultHolder.id"
                            data-e-ng-options="holder.id as holder.name for holder in holders"
                            data-e-required>
                            {{app.defaultHolder.name || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostiosoite varmuuskopioiden vastaanottamiseen</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.backupEmail"
                            data-e-name="app.backupEmail"
                            data-e-required
                        >
                            {{app.backupEmail || 'Sähköpostiosoite puuttuu'}}
                        </span>
                    </dd>
                    <dt>Varmuuskopioiden väli (päiviä)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.backupInterval"
                            data-e-min="1"
                            data-e-name="app.backupInterval"
                            data-e-required
                        >
                            {{app.backupInterval || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Aika, jonka jälkeen aluetta pidetään harvoin käytynä (päiviä)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.notCoveredLimit"
                            data-e-min="1"
                            data-e-name="app.notCoveredLimit"
                            data-e-required
                        >
                            {{app.notCoveredLimit || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Aika, jonka jälkeen lähetetään muistutusviesti alueen käymisestä (päiviä)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.notCoveredWarningEmailLimit"
                            data-e-min="1"
                            data-e-name="app.notCoveredWarningEmailLimit"
                            data-e-required
                        >
                            {{app.notCoveredWarningEmailLimit || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Aika, jonka jälkeen alue on ollut liian kauan samalla omistajalla (päiviä)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.holderNotChangedWarningLimit"
                            data-e-min="1"
                            data-e-name="app.holderNotChangedWarningLimit"
                            data-e-required
                        >
                            {{app.holderNotChangedWarningLimit || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Oletus leveyskoordinaatti (Suomessa noin 60-64)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.defaultLatitude"
                            data-e-min="-90"
                            data-e-max="90"
                            data-e-step="any"
                            data-e-name="app.defaultLatitude"
                            data-e-required
                        >
                            {{app.defaultLatitude || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Oletus pituuskoordinaatti (Suomessa noin 19-25)</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-number="app.defaultLongitude"
                            data-e-min="-180"
                            data-e-max="180"
                            data-e-step="any"
                            data-e-name="app.defaultLongitude"
                            data-e-required
                        >
                            {{app.defaultLongitude || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköposteissa toimivat avainkentät</dt>
                    <dd>
<pre>
"_holderName" = alueomistajan nimi
"_territoryCode" = alueen koodi
"_territoryLat", = alueen koordinaatti
"_territoryLng", = alueen koordinaatti
"_taken", = aika jolloin alue on otettu
"_covered" = aika jolloin alue on merkitty käydyksi
"_territoryDetails", = alueen tarkempi kuvaus
"_listAllTerritoryCodes" = kaikki alueomistajan alueiden koodit
</pre>
                    </dd>
                    <dt>Sähköpostipohja: muistutus alueen käymisestä, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailNotCoveredTerritoryTitle"
                            data-e-name="app.notificationEmailNotCoveredTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailNotCoveredTerritoryTitle || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: muistutus alueen käymisestä</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailNotCoveredTerritory"
                            data-e-name="app.notificationEmailNotCoveredTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailNotCoveredTerritory || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: uuden alueen ottaminen, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailNewTerritoryTitle"
                            data-e-name="app.notificationEmailNewTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailNewTerritoryTitle || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: uuden alueen ottaminen</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailNewTerritory"
                            data-e-name="app.notificationEmailNewTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailNewTerritory || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: alueen palautus aluepöytään, viestin aihe</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.notificationEmailRemovedTerritoryTitle"
                            data-e-name="app.notificationEmailRemovedTerritoryTitle"
                            data-e-required
                        >
                            {{app.notificationEmailRemovedTerritoryTitle || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Sähköpostipohja: alueen palautus aluepöytään</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-textarea="app.notificationEmailRemovedTerritory"
                            data-e-name="app.notificationEmailRemovedTerritory"
                            data-e-required
                        >
                            {{app.notificationEmailRemovedTerritory || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>Lähtevän sähköpostin osoite</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-email="app.notificationEmailSenderAddress"
                            data-e-name="app.notificationEmailSenderAddress"
                            data-e-required
                        >
                            {{app.notificationEmailSenderAddress || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>SMTP käyttäjänimi</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.smtpUsername"
                            data-e-name="app.smtpUsername"
                            data-e-required
                        >
                            {{app.smtpUsername || 'Ei asetettu'}}
                        </span>
                    </dd>
                    <dt>SMTP salasana</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="app.smtpPassword"
                            data-e-name="app.smtpPassword"
                            data-e-required
                        >
                            {{app.smtpPassword || 'Ei asetettu'}}
                        </span>
                    </dd>
                <dl>
                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Tallenna
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Peruuta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>