<form class="form-vertical" role="form" name="userForm"
    data-ng-submit="addUser()"
>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-top: 10px;">
                Etunimi:
                <input type="text" class="form-control" name="user.firstName" required="required" placeholder="Anna käyttäjän etunimi"
                    data-ng-model="user.firstName"
                />
            </div>

            <div class="form-group" style="margin-top: 10px;">
                Sukunimi:
                <input type="text" class="form-control" name="user.lastName" required="required" placeholder="Anna käyttäjän sukunimi"
                    data-ng-model="user.lastName"
                />
            </div>

            <div class="form-group" style="margin-top: 10px;">
                Käyttäjänimi:
                <input type="text" class="form-control" name="user.username" required="required" placeholder="Anna käyttäjänimi jota käytetään kirjautumiseen"
                    data-ng-model="user.username"
                />
            </div>

            <div class="form-group" style="margin-top: 10px;">
                Salasana:
                <input type="text" class="form-control" name="user.password1" required="required" placeholder="Käyttäjän salasana" minlength="8"
                    data-ng-model="user.password1"
                />
            </div>

            <div class="form-group" style="margin-top: 10px;">
                Salasana uudelleen:
                <input type="text" class="form-control" name="user.password2" required="required" placeholder="Käyttäjän salasana uudelleen"
                    data-ng-model="user.password2"
                />
            </div>

            <div class="form-group" style="margin-top: 10px;">
                Sähköpostiosoite:
                <input type="text" class="form-control" name="user.email" required="required" placeholder="Käyttäjän sähköpostiosoite"
                    data-ng-model="user.email"
                />
            </div>

            <div class="form-group">
                Tunnukseen liitetty alueomistaja (jos valittu, rajoittaa toiminnot vain tälle omistajalle):
                <select 
                    class="form-control"
                    data-ng-model="selectedHolderId"
                    data-ng-options="holder.id as holder.name for holder in holders"
                    data-ng-change="user.admin = false"
                >
                    <option value="">-- tunnus ei liity alueomistajaan --</option>
                </select>
            </div>

            <div class="checkbox">
                <label>
                    <input                
                        data-ng-disabled="selectedHolderId"     
                        type="checkbox" 
                        name="user.admin" 
                        data-ng-model="user.admin"
                    > Pääkäyttäjä
                </label>
            </div>

            <button type="submit" class="btn btn-primary"
                data-ng-disabled="!userForm.$valid && user.password1 != user.password2"
            >
                Lisää uusi käyttäjä
            </button>
        </div>
    </div>
</form>