<div data-ng-show="!user">
    <h3>Käyttäjää ei lötynyt</h3>
</div>

<div data-ng-show="user">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveUser()"
    >
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="user.firstName"
                        data-e-name="user.firstName"
                        data-e-required
                    >
                        {{user.firstName}}
                    </span>

                    <span style="width: 100%;"
                        data-editable-text="user.lastName"
                        data-e-name="user.lastName"
                        data-e-required
                    >
                        {{user.lastName}}
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && currentUser.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Muokkaa"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>
                <dl>
                    <dt>Sähköpostiosoite</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="user.email"
                            data-e-name="user.email"
                            data-e-required
                        >
                            {{user.email}}
                        </span>
                    </dd>
                    <dt>{{'HOLDER' | translate}}</dt>
                    <dd>
                        <span data-editable-select="user.holder.id"
                            data-e-name="holder.id"
                            data-e-ng-options="holder.id as holder.name for holder in holders | filter : onlyActiveHolders"
                            data-e-required>
                            {{user.holder.name || 'Käyttäjä ei liity alueomistajaan'}}
                        </span>
                        <!--
                        <a 
                            data-ng-click="user.holder = null"
                            data-ng-show="editableForm.$visible">
                            Poista linkitys
                        </a>
                        -->
                    </dd>
                    <dt>Arkistoitu</dt>
                    <dd>
                        <span data-editable-checkbox="user.archived"
                            data-e-title="Käyttäjä ei ole enää käytössä">
                            {{user.archived ? 'Kyllä' : 'Ei'}}
                        </span>
                    </dd>
                <dl>
                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Tallenna
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Peruuta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>