<div data-ng-show="!user">
    <h3>Requested user not found</h3>
</div>

<div data-ng-show="user">
    <form class="form-vertical" role="form"
        data-editable-form name="editableForm"
        data-onaftersave="saveUser()"
    >
        <div class="row">
            <div class="col-sm-4">
                <h3>
                    <span style="width: 100%;"
                        data-editable-text="user.firstName"
                        data-e-name="user.firstName"
                        data-e-required
                    >
                        {{user.firstName}}
                    </span>

                    <span style="width: 100%;"
                        data-editable-text="user.lastName"
                        data-e-name="user.lastName"
                        data-e-required
                    >
                        {{user.lastName}}
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                           data-ng-click="editableForm.$show()"
                           data-tooltip="Toggle edit mode"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>
                <dl>
                    <dt>Email</dt>
                    <dd>
                        <span style="width: 100%;"
                            data-editable-text="user.email"
                            data-e-name="user.email"
                            data-e-required
                        >
                            {{user.email}}
                        </span>
                    </dd>
                    <dt>Is archived</dt>
                    <dd>
                        <span data-editable-checkbox="user.archived"
                            data-e-title="User is not in use">
                            {{user.archived ? 'Yes' : 'No'}}
                        </span>
                    </dd>
                <dl>
                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            Save
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel()"
                        >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>