<form class="form-vertical" role="form" name="holderForm"
    data-ng-submit="addHolder()"
>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" style="margin-top: 10px;">
                <input type="text" 
                class="form-control" 
                required="required" 
                name="name" 
                placeholder="{{'HOLDER_NAME' | translate}}"
                data-ng-model="holder.name"/>
            </div>

            <div class="form-group">
                <input type="email" 
                    class="form-control" 
                    required="required" 
                    name="email" 
                    placeholder="{{'HOLDER_EMAIL' | translate}}"
                    data-ng-model="holder.email"/>
            </div>

            <div class="form-group">
                <input type="text" 
                    class="form-control" 
                    name="telephone" 
                    placeholder="{{'HOLDER_TELEPHONE' | translate}}"
                    data-ng-model="holder.telephone"/>
            </div>

            <div class="form-group">
                <input type="text" 
                    class="form-control" 
                    name="description" 
                    placeholder="{{'HOLDER_DESCRIPTION' | translate}}"
                    data-ng-model="holder.description"/>
            </div>

            <div class="checkbox">
                <label>
                    <input                     
                        type="checkbox" 
                        name="emailValid" 
                        data-ng-model="holder.emailValid"
                    > {{'EMAIL_ADDRESS_IS_IN_USE' | translate}}
                </label>
            </div>

            <div>
                <button type="submit" class="btn btn-primary"
                    data-ng-disabled="!holderForm.$valid">
                    {{'SAVE' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>

