@import "mixins";
@import "forms";
@import "components";
@import "bootstrap";
@import "angular";
@import "mobile";

body {
  cursor: default;
  overflow-y: scroll;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h5 {
  &:first-of-type :not(.alert > h4){
    margin-top: 10px;
  }
}

.fieldset-nomargins > legend,
.fieldset-nomargins > div {
  margin-bottom: 0
}

.datepicker-noclear [ng-click="select(null)"] {
  display: none;
} 

#territoryOperationsWrapper {
  position: fixed;
  bottom: 20px;
  left: 2px;
  max-width: 90%;
  min-width: 265px;
  z-index: 10;
  max-height: 70%;
  overflow-x: hidden;
  overflow-y: auto;  
}

#territoryOperations {

}

.desktop-hide { 
  display: none; 
}

.text-left {
  text-align: left !important;
}

.text-danger {
  color: red;
}

.table tbody>tr>td.valign{
    vertical-align: middle;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.bg-tuned-down {
  background-color: rgba(218,218,218, 0.5);
}

.container {
  min-width: 100%;
  max-width: 100%;
}

.main-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

.angular-google-map-container { height: 400px; }

header .navbar-nav {
  float: none;
}

.top-buffer { margin-top:20px; }

.top-buffer-sm {margin-top:10px;}

.strong-text {
  font-weight: bold;
}

.vertical-list-condensed
{
  width: 50px; // adjust
}

.vertical-list
{
  width: 75px; // adjust
}

.whitespace-label {
  width: 50px;
  height: 20px;
}

.big-checkbox {
  width: 14px; 
  height: 14px;
}

.s13 { 
  border: 1px solid black; 
  float:left; 
  min-height:500px; 
  width: 124px;
  overflow: hidden;
  white-space:nowrap;
  display: inline-block;
  text-align: center;
  font-size: 1em;
}

.s13 .small {
  font-size: 0.82em;
  width: 50%;
}

.force-break :nth-of-type(5n) {
  page-break-after : always; page-break-inside: avoid; display : inline-block;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

.ng-hide-remove      { animation:0.5s flipInX ease; }

footer {
  .navbar {
    min-height: 25px;
    max-height: 25px;
    text-align: center;

    .navbar-nav {
      float: none;

      &> li {
        float: none;
        display: inline-block;

        > a {
          padding: 0 10px;
          line-height: 25px;
          font-size: 11px;

          .fa {
            position: relative;
            top: 1px;
            margin-right: 3px;
            font-size: 14px;
            color: #999999;
          }

          &:hover {
            color: #3399f3;

            .fa {
              color: #337bd5;
            }
          }
        }
      }
    }
  }
}

.noSelect {
  @include noSelect();
}

.pagination {
  margin: 0;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.help {
  .fa {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 14px;
    margin: 0 0 0 5px;
  }
}

.tooltip {
  .title {
    color: #ffffff;
    border-bottom: 1px solid #9b9b9b;
    margin: 3px 0 5px 0;
    padding: 0;
  }

  .tooltip-inner {
    text-align: left;
  }
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    bottom: 0;
    height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    bottom: -50px;
    height: 0px;
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}