.list-search {
  margin-bottom: 2px;

  div.list-search-filters {
    max-width: 500px;
    
    form {
      position: relative;
      top: -9px;
      margin: 0 0 -2px 0;
      padding: 0;
    }

    .input-group-addon {
      i {
        position: relative;
        top: 1px;
      }
    }
  }

  div.list-search-filters,
  ul.pagination {
    display: inline-block;
  }

  #textFilters {
    min-width: 200px;
  }
}