<header>
    <div class="navbar navbar-default navbar-fixed-top no-print">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main">

                <ul class="nav navbar-nav navbar-right">
                    <li data-ui-sref-active="active"
                        data-ng-show="!auth.isAuthenticated()"
                    >
                        <a href="#" data-ui-sref="auth.login">Kirjaudu sisään</a>
                    </li>

                    <li data-ng-show="auth.isAuthenticated()"
                    >
                        <a href="#" data-ng-click="logout()">Kirjaudu ulos</a>
                    </li>

                    <li data-ui-sref-active="active"
                        data-ng-show="auth.isAuthenticated()"
                    >
                        <a href="#" data-ui-sref="profile.edit({id: user().id})">{{user().username}}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="{{item.class}}"
                        data-ng-repeat="item in navigationItems"
                        data-ng-show="auth.authorize(item.access)"
                        data-ng-class="{'not-active': isNotActive(item), 'active': isActive(item)}"
                        data-ui-sref-active="active"
                    >
                        <a href="#"
                            data-ui-sref="{{item.state}}"
                        >{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>