<ul class="nav nav-tabs no-print top-buffer-sm">
    <li
        data-ng-repeat="item in navigationItems"
        data-ui-sref-active="active"
    >
        <a
            data-ng-if="item.state"
            data-ng-show="auth.authorize(item.access)"
            data-ui-sref="{{item.state}}">
            <span data-ng-if="item.icon" class="fa {{item.icon}}"></span>
            {{item.title}}
        </a>

        <a style="text-decoration: line-through;"
            data-ng-if="!item.state"
        >
            {{item.title}}
        </a>
    </li>

    <li class="pull-right">
        <a href="#" class="help"
            data-ng-click="openInformation()"
        >
            Sivun ohje
            <i class="fa fa-info-circle"></i>
        </a>
    </li>
</ul>
