<div data-ng-if="territory">
    <h4>
        Kartta
        <span class="pull-right"
            data-ng-show="!editableMap && user.admin"
        >
            <a href="#"
                data-ng-click="toggleMapEditable()"
                data-tooltip="{{'EDIT' | translate}}"
            >
                <i class="fa fa-wrench"></i>
            </a>
        </span>
    </h4>
    <a 
        data-ng-show="editableMap" 
        class="btn btn-danger pull-right" 
        data-ng-click="replacePolylineWithDefault()"
    >
        {{'DELETE_BORDER' | translate}}
    </a>
    <a 
        data-ng-show="editableMap" 
        class="btn btn-primary" 
        data-ng-click="saveMap(map)"
    >
        {{'SAVE_MAP' | translate}}
    </a>
    <ui-gmap-google-map 
        center='map.center' 
        zoom='map.zoom'
    >
        <ui-gmap-marker 
            coords="map.territoryCenterMarker.coords" 
            idkey="map.territoryCenterMarker.id"
            options="map.territoryCenterMarker.options"
            events="map.territoryCenterMarker.events"
        >
        </ui-gmap-marker>
        <!-- polygon example -->
        <ui-gmap-polygon 
            editable="editableMap" 
            static="false" 
            ng-repeat="p in map.polygons track by p.id" 
            path="p.path" 
            stroke="p.stroke" 
            visible="p.visible"
            geodesic="p.geodesic" 
            fill="p.fill" 
            fit="false" 
            draggable="p.draggable" 
            events="map.polygonEvents"
        >
        </ui-gmap-polygon>
    </ui-gmap-google-map>
</div>