        <h4>
            <span data-ng-if="territory.territoryLinkAttribute.length > 0">
                {{'ATTRIBUTES' | translate}} ({{territory.territoryLinkAttribute.length}})
            </span>
            <span data-ng-if="territory.territoryLinkAttribute.length === 0">
                {{'NO_TERRITORY_ATTRIBUTES' | translate}}
            </span>
            <span class="pull-right"
                data-ng-show="!deleteTerritoryLinkAttributeItemVisible && user.admin"
            >
                <a href="#"
                    data-ng-click="deleteTerritoryLinkAttributeItemVisible = true"
                    data-tooltip="{{'EDIT' | translate}}"
                >
                    <i class="fa fa-wrench"></i>
                </a>
            </span>
        </h4>
        <table class="table table-condensed table-hover" data-ng-if="territory.territoryLinkAttribute.length > 0">
            <thead>
                <tr>
                    <th class="col-xs-1">
                        <!-- icon -->
                    </th>
                    <th class="col-xs-3 text-nowrap">
                        {{'NAME' | translate}}
                    </th>
                    <th class="col-xs-7 text-nowrap">
                        {{'ATTRIBUTE_DESCRIPTION' | translate}}
                    </th>
                    <th class="col-xs-1 text-nowrap">
                        <!-- empty for buttons in edit mode -->
                    </th>
                </tr>
            </thead>
            <tbody data-ng-repeat="tla in territory.territoryLinkAttribute">
                <tr>
                    <td>
                        <span class="fa fa-{{getAttributeWithId(attributes, tla.attribute).icon}}"></span>
                    </td>                    
                    <td>
                        {{getAttributeWithId(attributes, tla.attribute).name}}
                    </td>
                    <td>
                        {{getAttributeWithId(attributes, tla.attribute).description}}
                    </td>
                    <td>
                        <a 
                            data-ng-show="deleteTerritoryLinkAttributeItemVisible"
                            data-ng-click="setTerritoryLinkAttributeToBeDeleted(tla)"
                            data-ng-bootbox-title="You are about to delete a territory attribute"
                            data-ng-bootbox-custom-dialog="Are you sure about the territory attribute delete?"
                            data-ng-bootbox-buttons="confirmAttributeButtonsDelete"
                        >
                            <span class="fa fa-trash fa-2x"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-ng-if="user.admin && deleteTerritoryLinkAttributeItemVisible">
            <div class="form-inline">
                <div class="form-group">
                    <label for="newAttributeInput">{{'ADD_ATTRIBUTE' | translate}}</label>
                    <select id="newAttributeInput" class="form-control input-sm" ng-model="newAttribute" ng-options="a.name for a in attributes"></select>
                </div>
                <a class="btn btn-primary btn-sm" data-ng-click="addNewAttribute(newAttribute);">{{'ADD' | translate}}</a>
            </div>
        </div>