        <h4>
            {{'HISTORY' | translate}} ({{territory.territoryHolderHistory.length}})
            <span class="pull-right"
                data-ng-show="!deleteTerritoryHolderHistoryItemVisible && user.admin"
            >
                <a href="#"
                    data-ng-click="deleteTerritoryHolderHistoryItemVisible = true"
                    data-tooltip="{{'EDIT' | translate}}"
                >
                    <i class="fa fa-wrench"></i>
                </a>
            </span>
        </h4>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="col-xs-3">
                        {{'HOLDER' | translate}}
                    </th>
                    <th class="col-xs-2 text-nowrap">
                        {{'START_DATE' | translate}}
                    </th>
                    <th class="col-xs-2 text-nowrap">
                        {{'END_DATE' | translate}}
                    </th>
                    <th class="col-xs-4 text-nowrap">
                        {{'ADDITIONAL_INFO' | translate}}
                    </th>
                    <th class="col-xs-1 text-nowrap">
                        <!-- empty for buttons in edit mode -->
                    </th>
                </tr>
            </thead>
            <tbody data-ng-repeat="thh in territory.territoryHolderHistory">
                <tr>
                    <td>
                        <span 
                            data-ng-if="user.admin"
                            data-editable-select="thh.holder"
                            data-e-name="thh.holder.id"
                            data-e-ng-options="holder.id as holder.name for holder in holders"
                            data-e-required
                            data-onaftersave="saveTerritoryHistoryItem(thh)"
                        >
                            {{getHolderNameWithId(thh.holder)}}
                        </span>
                        <span data-ng-if="!user.admin">
                            <a data-ui-sref="app.holder.single({id: thh.holder})">{{getHolderNameWithId(thh.holder)}}</a>
                        </span>
                    </td>
                    <td>
                        <span 
                            data-ng-if="user.admin"
                            data-editable-bsdate="thh.startDate" 
                            data-e-ng-click="openPickers('thhStartDateOpened')" 
                            data-e-is-open="pickers.thhStartDateOpened" 
                            data-e-datepicker-popup = "dd.MM.yyyy" 
                            data-e-current-text="Tänään"
                            data-e-clear-text="Tyhjennä"
                            data-e-close-text="Ok"
                            data-e-name= "date" 
                            data-onaftersave="saveTerritoryHistoryItem(thh)"
                        >
                            {{(thh.startDate | date : 'dd.MM.yyyy') || 'Ei alkupäivää'}}
                        </span>
                        <span data-ng-if="!user.admin">
                            {{thh.startDate | date : 'dd.MM.yyyy'}}
                        </span>
                    </td>
                    <td>
                        <span 
                            data-ng-if="user.admin"
                            data-editable-bsdate="thh.endDate" 
                            data-e-ng-click="openPickers('thhEndDateOpened')" 
                            data-e-is-open="pickers.thhEndDateOpened" 
                            data-e-current-text="Tänään"
                            data-e-clear-text="Tyhjennä"
                            data-e-close-text="Ok"
                            data-e-datepicker-popup = "dd.MM.yyyy" 
                            data-onaftersave="saveTerritoryHistoryItem(thh)"
                            data-e-name= "date" 
                        >
                            {{(thh.endDate | date: 'dd.MM.yyyy') || 'Ei loppupäivää'}}
                        </span>
                        <span data-ng-if="!user.admin">
                            {{thh.endDate | date: 'dd.MM.yyyy'}}
                        </span>
                    </td>
                    <td>
                        <span 
                            data-ng-if="user.admin"
                            data-editable-text="thh.description"
                            data-e-name="thh.description"
                            data-onaftersave="saveTerritoryHistoryItem(thh)"
                        >
                            {{thh.description || 'Ei kommenttia'}}
                        </span>
                        <span data-ng-if="!user.admin">
                            {{thh.description}}
                        </span>
                    </td>
                    <td>
                        <a 
                            data-ng-show="deleteTerritoryHolderHistoryItemVisible"
                            data-ng-click="setTerritoryHolderHistoryToBeDeleted(thh)"
                            data-ng-bootbox-title="{{'DELETING_TERRITORY_HISTORY_ROW' | translate}}"
                            data-ng-bootbox-custom-dialog="{{'ARE_YOU_SURE' | translate}}"
                            data-ng-bootbox-buttons="confirmHistoryButtonsDelete"
                        >
                            <span class="fa fa-trash fa-2x"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>