        <div data-ng-show="territory">
            <form 
                class="form-vertical" 
                role="form"
                data-editable-form 
                name="editableForm"
                data-onaftersave="saveTerritory()"
            >

                <h3>
                    <span style="width: 100%;"
                        data-editable-text="territory.territoryCode"
                        data-e-name="territory.territoryCode"
                        data-e-required
                    >
                        {{territory.territoryCode}}
                        <span data-ng-if="territory.archived">(arkistoitu)</span>
                    </span>

                    <span class="pull-right"
                        data-ng-show="!editableForm.$visible && user.admin"
                    >
                        <a href="#"
                            data-ng-click="editableForm.$show()"
                            data-tooltip="{{'EDIT' | translate}}"
                        >
                            <i class="fa fa-wrench"></i>
                        </a>
                    </span>
                </h3>

                <dl class="dl-horizontal">
                    <dt>{{'HOLDER' | translate}}</dt>
                    <dd>
                        <span data-editable-select="territory.holder.id"
                            data-e-name="holder.id"
                            data-e-ng-options="holder.id as holder.name for holder in holders | filter : onlyActiveHolders"
                            data-e-required>
                            {{territory.holder.name}}
                        </span>
                    </dd>
                    <dt>{{'COVERED' | translate}}</dt>
                    <dd>
                        <span 
                            data-editable-bsdate="territory.covered" 
                            data-e-ng-click="openPickers('coveredDateOpened')" 
                            data-e-is-open="pickers.coveredDateOpened" 
                            data-e-datepicker-popup = "dd.MM.yyyy" 
                            data-e-current-text="Tänään"
                            data-e-clear-text="Tyhjennä"
                            data-e-close-text="Ok"
                            data-e-name= "date" 
                        >
                        <a
                            data-ng-class="isNotCoveredLimitExeeded(territory, app) ? 'bg-danger' : ''"
                            data-tooltip="{{territory.covered | amTimeAgo}}">
                            {{(territory.covered | date : 'dd.MM.yyyy') || 'Ei merkintää'}}
                        </a>
                        </span>
                    </dd>
                    <dt>{{'TAKEN' | translate}}</dt>
                    <dd>
                        <span 
                            data-editable-bsdate="territory.taken" 
                            data-e-ng-click="openPickers('takenDateOpened')" 
                            data-e-is-open="pickers.takenDateOpened" 
                            data-e-datepicker-popup = "dd.MM.yyyy" 
                            data-e-current-text="Tänään"
                            data-e-clear-text="Tyhjennä"
                            data-e-close-text="Ok"
                            data-e-name= "date" 
                        >
                        <a 
                            data-ng-class="isHolderNotChangedLimitExeeded(territory, app) ? 'bg-danger' : ''"
                            data-tooltip="{{territory.taken | amTimeAgo}}">
                            {{(territory.taken | date : 'dd.MM.yyyy') || 'Ei merkintää'}}
                        </a>
                        </span>
                    </dd>
                    <dt>{{'TYPE' | translate}}</dt>
                    <dd>
                        <span data-editable-text="territory.type"
                                data-e-name="territory.type"
                                data-e-required>
                            {{territory.type}}
                        </span>
                    </dd>
                    <dt>{{'NUMBER_OF_APARTMENTS' | translate}}</dt>
                    <dd>
                        <span data-editable-number="territory.apartmentCount"
                                data-e-name="territory.apartmentCount"
                                data-e-required>
                            {{territory.apartmentCount}}
                        </span>
                    </dd>
                    <dt>{{'ARCHIVED' | translate}}</dt>
                    <dd>
                        <span data-editable-checkbox="territory.archived"
                            data-e-title="Alue ei ole enää käytössä?">
                            {{territory.archived ? 'Kyllä' : 'Ei'}}
                        </span>
                    </dd>
                    <dt>
                        {{'NOT_COUNTED_WHEN_CALCULATING_POORLY_COVERED' | translate}}
                    </dt>
                    <dd>
                        <span data-editable-checkbox="territory.notCountedWhenCalculatingCoveredDuringLastYearTotal"
                            data-e-title="{{'NOT_COUNTED_WHEN_CALCULATING_POORLY_COVERED_2' | translate}}">
                            <a 
                                data-tooltip="Esimerkiksi puhelin- ja liikealueita ei yleensä lasketa vuoteen käymättömien alueiden joukkoon."
                            >
                                {{!territory.notCountedWhenCalculatingCoveredDuringLastYearTotal ? 'Kyllä' : 'Ei'}}
                            </a>
                        </span>
                    </dd>
                    <dt>{{'DESCRIPTION' | translate}}</dt>
                    <dd>
                        <pre style="white-space: pre-line"
                            data-editable-textarea="territory.description"
                            data-e-name="territory.description"
                            data-e-required
                        >
                            {{territory.description}}
                        </pre>
                    </dd>
                </dl>

                <div>
                    <div data-ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary"
                            data-ng-disabled="editableForm.$waiting"
                        >
                            {{'SAVE' | translate}}
                        </button>
                        <button type="button" class="btn btn-default"
                            data-ng-disabled="editableForm.$waiting"
                            data-ng-click="editableForm.$cancel(); editableMap = false;"
                        >
                            {{'CANCEL' | translate}}
                        </button>
                        <button type="button" class="btn btn-danger pull-right"
                            data-ng-bootbox-title="Danger - Danger - Danger"
                            data-ng-bootbox-custom-dialog="{{'DELETING_TERRITORY' | translate}} <strong>{{territory.territoryCode}}</strong>. {{'ARE_YOU_SURE' | translate}}"
                            data-ng-bootbox-buttons="confirmButtonsDelete"
                        >
                            {{'DELETE' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>